.li-general-question {
  width: 200px;
  background-color: white;
}

ul li {
  display: flex;
  justify-content: space-between;
  background-color: azure;
}
ul li input {
  width: 30px;
}
.btns-add-rmv {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
